/* Estilos específicos para a página de estoque */
.estoque-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.estoque-list {
    list-style-type: none;
    padding: 0;
}

.estoque-list li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.estoque-list li:last-child {
    border-bottom: none;
}

.excluir-ingrediente {
    color: red;
    text-decoration: none;
}
